{% extends "layouts/base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}">
<meta name="keywords" content="{{ article.keywords|escape }}">
{% endblock %}

{% block canonical_url %}{{ SITEURL }}/{{article.url}}{% endblock %}
{% block description %} {{ article.summary|striptags|escape }} {%
endblock %}

{% block title %} {{article.title}} {% endblock %}

{% block main %}
<article class="content-pad">
    <div class="content-main">
        <section class="content-article">
            {% include "layouts/partial/article-title.html" %}
            {% if article.youtube %}
            {% set youtube_id = article.youtube.split('v=')[1] %}
            <div class="video-container">
                <iframe 
                    width="100%"
                    src="https://www.youtube.com/embed/{{ youtube_id }}"
                    title="YouTube video player"
                    allow="autoplay; clipboard-write; encrypted-media; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                >
                </iframe>
            </div>
            {% endif %}
            <article id="content">
                {{article.content}}
            </article>
            <h5>Need Help? <a href="https://github.com/CloudBytesDotDev/CloudBytes.dev/discussions">Open a discussion
                    thread on GitHub</a>.</h5>
            {% if article.series %}
            {% include "layouts/partial/series_navigation.html" %}
            {% endif %}
            {% include "layouts/partial/tags.html"%}
            <hr>
            {% include "layouts/related.html" %}
        </section>
    </div>
</article>
{% endblock %}

{% block sidebar_contents %}
{% include "layouts/recourse.html" %}
{% endblock %}