{% extends "layouts/base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}">
<meta name="keywords" content="{{ article.keywords|escape }}">
{% endblock %}

{% block canonical_url %}{{ SITEURL }}/{{article.url}}{% endblock %}
{% block description %} {{ article.summary|striptags|escape }} {%
endblock %}

{% block title %} {{article.title}} {% endblock %}

{% block main %}
<article class="content-pad">
    <div class="content-main">
        <section class="content-article">
            {% include "layouts/partial/article-title.html" %}
            <article id="content">
                {{article.content}}
            </article>
            <h5>Need Help? <a href="https://github.com/CloudBytesDotDev/CloudBytes.dev/discussions">Open a discussion
                    thread on GitHub</a>.</h5>
            {% if article.series %}
            {% include "layouts/partial/series_navigation.html" %}
            {% endif %}
            {% include "layouts/partial/tags.html"%}
            <hr>
            {% include "layouts/related.html" %}
        </section>
    </div>

</article>
{% endblock %}

{% block sidebar_contents %}
{% include "layouts/recourse.html" %}
{% endblock %}