{% extends "layouts/base.html" %}

{% block meta %}
<link rel="canonical" href="{{ SITEURL }}/{{author.url}}">
{% endblock %}


{% block title %}
{{author}}
{% endblock %}

{% block main %}
<div class="content-main">
    <div>
        <header>
            <h1 class="border-bottom">{{author}}</h1>
        </header>

        <div class="row-max-1">
            {% for article in articles_page.object_list %}
            {% include "layouts/partial/article-card.html" %}
            {% endfor %}
        </div>
        {% set page_type = author %}
        {% include "layouts/partial/pagination.html" %}
    </div>
</div>
{% endblock %}