{% extends "layouts/base.html" %}

{% block meta %}
<meta name="keywords" content="{{ category }}">
{% endblock %}


{% block canonical_url %}
{% if articles_page.number == 1 %}
{{ SITEURL }}/{{ category.url }}
{% else %}
{{ SITEURL }}/{{ category.url }}/{{ articles_page.number }}
{% endif %}
{% endblock %}

{% block description %} all {{category}} {% endblock %}

{% block title %}{{category}}{% endblock %}

{% block main %}

<div class="content-main">
    <div>
        <header>
            <h1 class="border-bottom">{{category}}</h1>
        </header>
        <div class="row-max-1">
            {% for article in articles_page.object_list %}
            {% include "layouts/partial/article-card.html" %}
            {% endfor %}
            {% set page_type = category %}
            {% include "layouts/partial/pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar_contents %}
{% include "layouts/ebook.html" %}
{% endblock %}