{% extends "layouts/base.html" %}

{% block meta %}
<link rel="canonical" href="{{ SITEURL }}/{{category.url}}">
<meta name="description" content="all {{category}}">
{% endblock %}


{% block title %}
{{category}}
{% endblock %}

{% block main %}
<div class="content-main">
    <div>
        <header>
            <h1 class="border-bottom">{{category}}</h1>
        </header>
        <div class="row-max-1">
            {% for article in articles_page.object_list %}
            {% include "layouts/partial/article-card.html" %}
            {% endfor %}
            {% set page_type = category %}
            {% include "layouts/partial/pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}