{% extends "layouts/base.html" %}

{% block meta %}
<link rel="canonical" href="{{ SITEURL }}">
<meta name="description" content="CloudBytes: Programming on Steroids | Code snippets, lessons, tutorials, and more.">
{% endblock %}

{% block title %} Home {% endblock %}

{% block main %}
<div class="content-main">
    <div>
        <header>
            <h1 class="border-bottom">Latest Code Snippets</h1>
        </header>
        {% include "layouts/partial/featured-articles.html" %}
        <div>
            <a href="/snippets/">
                <button class="btn btn-green btn-block">View all Code Snippets</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar_contents %}
{% include "layouts/sidebar.html" %}
{% endblock %}