{% extends "layouts/base.html" %}

{% block title %}
{{page.title}}
{% endblock %}

{% block main %}
<section id="main" class="content-pad">
    <h1 id="title" class="snippet-title">{{ page.title }}</h1>
    <div class="row snippet-byline">
        <article id="content">
            {{page.content}}
            {% if page.title == '404' %}
            <script defer src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/app.js"></script>
            <div>

            </div>
            {% endif %}
        </article>
</section>

{% endblock %}