{% extends "layouts/base.html" %}

{% block meta %}
<link rel="canonical" href="{{ SITEURL }}/{{tag.url}}">
<meta name="description" content="all articles on {{tag}}">
<meta name="keywords" content="{{ tag }}">
{% endblock %}

{% block title %}
{{tag}}
{% endblock %}

{% block main %}
<div class="content-main">

    <div>
        <header>
            <h1 class="border-bottom"><span class="tag tag-{{tag}}">#{{tag}}</span></h1>
        </header>

        <div class="row-max-1">
            {% for article in articles_page.object_list %}
            {% include "layouts/partial/article-card.html" %}
            {% endfor %}
            {% set page_type = tag %}
            {% include "layouts/partial/pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}