{% extends "layouts/base.html" %}

{% block meta %}
<link rel="canonical" href="{{ SITEURL }}/{{tag.url}}">
{% endblock %}

{% block title %}
{{tag}}
{% endblock %}

{% block main %}
<header>
    <h1 class="border-bottom"><span class="tag tag-{{tag}}">#{{tag}}</span></h1>
</header>

<div class="row">
    {% for article in articles_page.object_list %}
    {% include "layouts/partial/article-card.html" %}
    {% endfor %}
</div>

{% set page_type = ('tag/' ~ tag ) %}
{% include "layouts/partial/pagination.html" %}

{% endblock %}
