{% extends "layouts/base.html" %}

{% block meta %}
<link rel="canonical" href="{{ SITEURL }}/tags">
{% endblock %}


{% block title %}
Tag Cloud
{% endblock %}


{% block main %}
<div class="content-main">
    <div class="content-article">
        <header>
            <h1 class="border-bottom">Tags</h1>
        </header>
        {% for tag in tag_cloud %}
        <a href="/tag/{{tag.0}}">
            <span class="tag tag-lg tag-{{tag.0}}">
                #{{tag.0}}
            </span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}