<ul class="pagination">
    <li class="page-item">
        <a href="/snippets/" class="page-link" aria-label="First"><span aria-hidden="true">««</span></a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a>
    </li>
    <li class="page-item active">
        <a class="page-link" href="/snippets/">1</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="/snippets/page/2/">2</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="/snippets/page/3/">3</a>
    </li>
    <li class="page-item">
        <a href="/snippets/page/2/" class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a>
    </li>
    <li class="page-item">
        <a href="/snippets/page/3/" class="page-link" aria-label="Last"><span aria-hidden="true">»»</span></a>
    </li>
</ul>