.dark-theme {
    --background: var(--gray6);
    --text-color: var(--gray2);
    --h-color: #fff;
    --nav-shadow: 4px 0 10px -3px #010101;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
    --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
    --nav-bg: var(--gray5);
    --tag-bg: var(--gray4);
    --code-bg: #22262f;
    --card-bg: var(--gray5);
    --overlay-bg: rgba(0, 0, 0, 0.9);
    --h-border: 1px solid var(--nav-bg);
    --card-radius: 0.5em;
    transition: all .3s ease;
}

.dark-theme, .light-theme {
    --nav-border: 2px dashed var(--text-color);
}

.light-theme {
    --background: var(--solar);
    --text-color: var(--gray4);
    --h-color: var(--gray6);
    --nav-shadow: 4px 0 10px -3px #c1c1c1;
    --card-shadow: 0 4px 8px rgba(0, 30, 84, 0.12);
    --toc-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
    --nav-bg: #d3cdbb;
    --tag-bg: var(--gray2);
    --code-bg: #fff;
    --card-bg: #fff;
    --overlay-bg: hsla(0, 0%, 100%, 0.9);
    --h-border: 1px solid var(--nav-bg);
    /*transition: all .5s ease;*/
}

#dark {
    display: none;
}

#light {
    display: flex;
}

.theme-icon {
    border-radius: 15px;
}

:root {
    --python-blue: #4584b6;
    --python-yellow: #ffde57;
    --red: #ff3860;
    --red-dark: #ff1443;
    --red-light: #ff5c7c;
    --blue: #498afb;
    --blue-dark: #2674fa;
    --blue-light: #6ca0fc;
    --orange: #fa8142;
    --orange-dark: #f96a1f;
    --orange-light: #fb9865;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-light: #0be586;
    --purple: #9166cc;
    --purple-dark: #7d4bc3;
    --purple-light: #a481d5;
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --solar: #fdf6e3;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #222831;
    --gray6: #191c23;
    --gray7: #12181b;
    --nav-width: 4.5rem;
    --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-head: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --font-size: 19px;
    --max-width-bp: 768px;
    --orange-pink: linear-gradient(to bottom right, var(--orange-light), var(--orange-dark) 85%);
    --green-grad: linear-gradient(to bottom right, var(--green-light), var(--green-dark) 85%);
    --background: var(--gray6);
    --text-color: var(--gray2);
    --h-color: #fff;
    --nav-shadow: 4px 0 10px -3px #010101;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
    --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
    --nav-bg: var(--gray5);
    --tag-bg: var(--gray4);
    --code-bg: #22262f;
    --card-bg: var(--gray5);
    --overlay-bg: rgba(0, 0, 0, 0.9);
    --nav-border: 2px dashed var(--text-color);
    --card-radius: 0.25em;
    transition: all .3s ease;
}

body {
    background: var(--background);
    color: var(--text-color);
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--font-size);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 1.7rem;
}

body::-webkit-scrollbar-track {
    background: var(--nav-bg);
}

body::-webkit-scrollbar-thumb {
    background: var(--blue-light);
}

main {
    padding: var(--nav-width) 1em 0 1em;
    transition: margin .3s ease;
}

.navbar {
    overflow-x: visible;
    position: fixed;
    left: 0;
    /*max-width: 70px;*/
    display: inline-flex;
    background: var(--nav-bg);
    box-shadow: var(--nav-shadow);
    z-index: 99;
    transition: left .3s ease
}

.navbar .item:hover .item-label {
    transform: scale(1) translateX(var(--nav-width));
    transition: transform 0ms ease-in
}

.navbar .item .item-label {
    position: fixed;
    transform: scale(0) translateX(0);
    transition: transform .3s ease-out;
    opacity: .8;
    left: 10px
}

.navbar .item.item-highlight {
    color: var(--green)
}

.navbar::-webkit-scrollbar {
    width: 0;
    background: transparent
}

.item {
    width: var(--nav-width);
    height: var(--nav-width);
    background: var(--nav-bg);
    display: flex;
    /*
    align-items: center;
    justify-content: center;
    */
    cursor: pointer;
}

.item:hover {
    filter: contrast(200%);
}

.item.active {
    background: var(--green-dark);
    box-shadow: var(--nav-shadow);
    transition: opacity .3s;
    border-radius: var(--card-radius);
}

.item.active svg {
    filter: invert(100%);
}

.item img, .item svg {
    width: 2.5rem;
    height: 2.5rem;
}

.item a {
    color: var(--text-color)
}

.item .version {
    font-size: .5em;
    color: #fff
}

a.item {
    color: var(--text-color)
}

.logo {
    width: var(--nav-width);
    max-width: 72px;
    z-index: 999;
}

/* Small screens */

@media only screen and (max-width: 600px) {
    main {
        margin-left: inherit;
        margin-top: 0.5rem;
    }

    .navbar {
        bottom: 0;
        left: 0;
        width: 100vw;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
    }

    .item {
        flex-direction: row;
        margin: 0.5rem 0;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
    }

    .navbar .item {
        overflow-x: visible
    }

    .logo {
        left: 0;
    }
}

/* Large screens */

@media only screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: auto;
        margin-left: calc(var(--nav-width) + 1rem);
    }

    .navbar {
        top: 0;
        height: 100vh;
        min-height: 500px;
        width: var(--nav-width);
        flex-direction: column;
        padding-top: var(--nav-width);
        align-items: center;
    }

    .item {
        flex-direction: column;
        margin: 2rem 0;
        align-items: center;
        justify-content: center;
    }

    .navbar .item {
        margin-bottom: 10px;
        overflow-x: visible;
    }

    .logo {
        top: 0;
        left: 0;
        margin-top: 0;
        position: fixed;
    }
}

.sidebar {
    margin: var(--nav-width) 0 0 0.5em;
    height: auto;
    position: fixed;
    right: 1.5em;
    display: inline-flex;
    background: var(--nav-bg);
    box-shadow: var(--nav-shadow);
    border-radius: var(--card-radius);
    z-index: 99;
    transition: left .3s ease
}

@media only screen and (min-width: 800px) {
    .sidebar {
        width: calc(var(--nav-width) * 4 + 1rem);
    }
}

@media only screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}

.sidebar .banner img {
    width: 100%;
    margin-top: 1.5em;
    border-radius: var(--card-radius);
}

a {
    color: var(--blue);
    text-decoration: none;
}

em, h1, h2, h3, h4, h5, h6 {
    color: var(--h-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-head);
    font-weight: 800;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

i svg {
    position: relative;
    width: 1em;
    margin: 0 3px;
    top: .125em;
}

.zero-top svg {
    top: 0;
}

footer {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: .8;
    /*font-size: calc(var(--font-size) * 0.5);*/
    font-size: .85em;
}

@media only screen and (min-width: 800px) {
    .footer-row {
        margin-left: var(--nav-width);
        display: grid;
        grid-template-columns: repeat(1, 70vw);
    }
}

@media only screen and (max-width: 800px) {
    footer {
        /*margin-left: var(--nav-width);*/
        align-items: center;
        justify-items: center;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        align-items: center;
    }
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    margin: auto;
}

footer h3 {
    margin: 0.5rem;
}

.footer-nav {
    display: block;
    margin: 0 1rem;
    padding: 0 1rem;
}

footer p {
    margin: 0.4rem;
}

/* Small screens */

@media only screen and (max-width: 600px) {
    footer {
        margin-bottom: 5rem;
    }
}

/* Large screens */

@media only screen and (min-width: 600px) {
    footer {
        margin-bottom: 1rem;
    }
}

hr {
    border: none;
    border-bottom: var(--h-border);
}

li {
    padding: .3em 0;
}

blockquote {
    position: relative;
    padding-left: 1em;
    border-left: 0.5rem solid var(--nav-bg);
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    margin-left: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: #ecf0f1;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #34495e;
  }
  
  th {
    background-color: #34495e;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  tr:hover {
    background-color: #3a516e;
  }




.red {
    color: #ff3860;
}

.red-bg {
    background: #ff3860;
    ;
}

.blue {
    color: #498afb;
}

.blue-bg {
    background: #498afb;
}

.orange {
    color: #fa8142;
}

.orange-bg {
    background: #fa8142;
}

.green {
    color: #09c372;
}

.green-bg {
    background: #09c372;
}

.purple {
    color: #9166cc;
}

.purple-bg {
    background: #9166cc;
}

.yellow {
    color: #ffdd57;
}

.yellow-bg {
    background: #ffdd57;
}

.pink {
    color: #ff4088;
}

.pink-bg {
    background: #ff4088;
}

::selection {
    background: var(--green);
    color: #fff;
}

@media (max-width:768px) {
    :root {
        --font-size: 15px;
        --nav-width: 3em;
    }
}

allow-if, google-login {
    visibility: hidden;
}

figure {
    background: var(--code-bg);
    box-shadow: var(--nav-shadow);
    text-align: center;
    margin: 0;
}

figcaption {
    font-size: .9em;
    padding: .5em;
}

.row {
    display: grid;
    gap: 1rem;
}

.row-max-1 {
    gap: 1.5rem;
}

.row-max-1, .row-max-2 {
    display: grid;
    /*justify-content: center;*/
}

@media only screen and (max-width: 600px) {
    .row {
        grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    }

    .row-max-1 {
        grid-template-columns: repeat(1, auto);
    }
}

@media only screen and (max-width: 800px) {
    .row-max-1 {
        grid-template-columns: repeat(1, auto);
    }
}

@media only screen and (min-width: 800px) {
    .row {
        grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
    }

    .row-max-1 {
        grid-template-columns: repeat(1, 64vw);
    }
}

.row-max-2 {
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 600px));
}

.row-max-3 {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    justify-content: space-evenly;
}

.white {
    color: #fff;
}

.text-contrast {
    color: var(--h-color);
}

.text-sm {
    font-size: .75em;
}

.text-lg {
    font-size: 1.5em;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.sub-heading {
    display: block;
    font-size: .4em;
    color: var(--text-color);
    font-weight: 400;
}

.home-heading {
    font-size: 1.6em;
}

.home-sub-heading {
    font-size: .8em;
    color: var(--text-color);
    font-weight: 400;
    font-family: var(--font-code);
    text-transform: uppercase;
}

.downcase {
    text-transform: lowercase;
}

.emoji {
    font-style: normal;
}

.emoji-btn {
    margin: 0 .33em;
    font-size: 1.25em;
}

.red {
    color: var(--red);
}

.red-bg {
    background: var(--red);
}

.orange {
    color: var(--orange);
}

.spacer {
    margin: 1em 0;
}

.text-thin {
    font-weight: 300;
}

.swap-text {
    opacity: 1;
}

.swap-text, text-cycle {
    transition: opacity .3s ease;
}

text-cycle {
    opacity: 0;
}

.row-home {
    margin: 7vw 3em;
}

@media screen and (max-width:768px) {
    .row-home {
        margin: 7vw 0;
    }
}

.row-home h2 {
    font-size: 1.6em;
}

.row-home p {
    font-size: 1.4em;
    font-weight: 300;
}

@media screen and (max-width:768px) {
    .hide-sm {
        visibility: hidden;
        display: none;
    }
}

@media (min-width:768px) {
    .hide-lg {
        visibility: hidden;
        display: none;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.no-pad {
    padding: 0 !important;
}

.no-animate {
    transform: none !important;
    transition: none !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-bottom {
    border-bottom: var(--h-border);
}

.shadow {
    box-shadow: var(--card-shadow);
}

.pb-1 {
    padding-bottom: 1rem;
}

.aspect-16x9 {
    padding-top: 56.25%;
    background: var(--nav-bg);
}

.twitter-bg {
    background: #1da1f2;
}

.twitter {
    color: #1da1f2;
}

.github {
    color: #333;
}

.github-bg {
    background: #333;
}

.youtube {
    color: #ff0a00;
}

.slack {
    color: #ce1f5b;
}

.subtext {
    font-size: .9em;
    color: var(--text-color);
}

.gde-logo {
    max-width: 300px;
}

@keyframes delayedFade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.delayed-fade {
    animation: delayedFade 2s;
}

.file-name {
    background: var(--code-bg);
    padding: .5em 1em .5em .5em;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
    font-size: .9em;
    color: var(--text-color);
    box-shadow: var(--nav-shadow);
}

.file-name .file-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}

.copy-alert {
    opacity: 0;
    color: var(--green);
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.highlight {
    overflow-x: auto;
    box-shadow: var(--card-shadow);
}

.highlight::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.highlight::-webkit-scrollbar-track {
    background: var(--background);
}

.highlight::-webkit-scrollbar-thumb {
    background: var(--gray3);
}

.highlight::-webkit-scrollbar-thumb:hover {
    background: var(--gray4);
}

code, pre {
    font-family: var(--font-code);
    font-size: .9em;
    font-weight: 400;
}

li code, p code {
    background: var(--code-bg);
    color: var(--purple);
    padding: 0 .4em;
    border-radius: 3px;
    font-size: .85em;
    font-weight: 700;
}

.highlight, pre.highlight {
    padding: 0 0 0 1em;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.highlight, .highlight .hll, .highlight pre, pre.highlight {
    background: var(--code-bg);
}

.highlight .c {
    color: #63677e;
}

.highlight .err {
    color: #ffb1a9;
}

.highlight .k {
    color: #e19ef5;
}

.highlight .l {
    color: #a3eea0;
}

.highlight .n, .highlight .o, .highlight .p {
    color: #dee2f7;
}

.highlight .c1, .highlight .cm, .highlight .cp, .highlight .cs {
    color: #63677e;
}

.highlight .gs {
    font-weight: 700;
}

.highlight .kc {
    color: #e19ef5;
}

.highlight .kd {
    color: #e19ef5;
    font-weight: 700;
}

.highlight .kn, .highlight .kp, .highlight .kr {
    color: #e19ef5;
}

.highlight .kt {
    color: #e19ef5;
    font-weight: 700;
}

.highlight .ld {
    color: #a3eea0;
}

.highlight .m {
    color: #eddc96;
}

.highlight .s {
    color: #a3eea0;
}

.highlight .na {
    color: #eddc96;
}

.highlight .nb, .highlight .nc, .highlight .nd, .highlight .ne, .highlight .ni, .highlight .no {
    color: #fdce68;
}

.highlight .nf {
    color: #dee2f7;
}

.highlight .nl {
    color: #fdce68;
}

.highlight .nn, .highlight .nx {
    color: #dee2f7;
    color: #9b9eae;
}

.highlight .py {
    color: #fdce68;
}

.highlight .nt {
    color: #ff8276;
}

.highlight .nv {
    color: #fdce68;
}

.highlight .ow {
    font-weight: 700;
}

.highlight .w {
    color: #f8f8f2;
}

.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    color: #eddc96;
}

.highlight .s2, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
    color: #a3eea0;
}

.highlight .sr {
    color: #7be2f9;
}

.highlight .s1 {
    color: #a3eea0;
}

.highlight .ss {
    color: #7be2f9;
}

.highlight .bp, .highlight .vc, .highlight .vg {
    color: #fdce68;
}

.highlight .vi {
    color: #f9867b;
}

.highlight .il {
    color: #eddc96;
}

.highlight .gu {
    color: #75715e;
}

.highlight .gd {
    color: #ff8276;
}

.highlight .gi {
    color: #a6e22e;
}

.colorful-theme .highlight .p, .light-theme .highlight .p {
    color: var(--text-color);
}

.colorful-theme .highlight .o, .light-theme .highlight .o {
    color: #c2c6da;
}

.colorful-theme .highlight .nl, .light-theme .highlight .nl {
    color: #e66900;
}

.colorful-theme .highlight .c1, .light-theme .highlight .c1 {
    color: #c9cbd6;
}

.colorful-theme .highlight .nt, .light-theme .highlight .nt {
    color: #e45649;
}

.colorful-theme .highlight .na, .light-theme .highlight .na {
    color: #bb7512;
}

.colorful-theme .highlight .s, .light-theme .highlight .s {
    color: #50a14f;
}

.colorful-theme .highlight .s1, .light-theme .highlight .s1 {
    color: #68c567;
}

.colorful-theme .highlight .kr, .light-theme .highlight .kr {
    color: #9d5bb1;
}

.colorful-theme .highlight .nx, .light-theme .highlight .nx {
    color: #574c86;
}

.colorful-theme .highlight .s2, .light-theme .highlight .s2 {
    color: #50a14f;
}

.colorful-theme .highlight .k, .light-theme .highlight .k {
    color: #9d5bb1
}

.colorful-theme .highlight .kd, .light-theme .highlight .kd {
    color: #db928b
}

.colorful-theme .highlight .kt, .light-theme .highlight .kt {
    color: #9d5bb1
}

.colorful-theme .highlight .nc, .light-theme .highlight .nc {
    color: #6d6a72
}

.colorful-theme .highlight .nf, .light-theme .highlight .nf {
    color: #667efb
}

.colorful-theme .highlight .n, .light-theme .highlight .n {
    color: #5c669b
}

.colorful-theme .highlight .m, .colorful-theme .highlight .mf, .colorful-theme .highlight .mi, .light-theme .highlight .m, .light-theme .highlight .mf, .light-theme .highlight .mi {
    color: #525564;
}

.topnav {
    position: fixed;
    top: 0;
    right: 0;
    margin: .5em 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
    transition: top .3s ease
}

.topnav .item {
    box-shadow: var(--nav-shadow);
    margin: 0;
}

@media (max-width:768px) {
    .topnav {
        margin: 0
    }
}

.pro-link {
    color: #fff
}

.item-pro {
    border-bottom-left-radius: 40%;
    background: var(--green);
    font-family: var(--font-body);
    text-transform: uppercase;
    font-weight: 700
}

@media (max-width:768px) {
    .item-pro {
        border-radius: 0;
        margin-right: 0;
        border-bottom-left-radius: 8px
    }
}

.item-avatar img {
    height: 2em;
    width: 2em;
    border-radius: 50%
}

.mega-dropdown {
    cursor: pointer;
    z-index: 9999
}

.mega-menu {
    position: fixed;
    /*opacity: 0;*/
    width: 60%;
    min-width: 750px;
    /*visibility: hidden;*/
    color: #fff;
    box-shadow: var(--nav-shadow);
    top: 5em;
    right: 1.5em;
    background: var(--python-blue);
    transform: translateY(2em);
    transition: transform .3s
}

.mega-menu.show {
    opacity: 1;
    transform: translateY(0);
    transition: all .3s
}

.mega-menu h3, .mega-menu h4 {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px
}

.mega-menu a {
    color: #fff
}

.mega-menu ul {
    padding: 0;
    list-style: none
}

.mega-menu ul li {
    color: #fff;
    padding: 5px 0
}

.mega-menu .mega-main {
    margin-top: 10px;
    padding: 0 1em 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
}

.mega-menu .mega-footer {
    display: flex;
    padding: 1em;
    background: rgba(0, 0, 0, .1);
    font-size: .8em;
    justify-content: space-around
}

@media (max-width:768px) {
    .mega-menu {
        position: fixed;
        top: 2em;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1.2em;
        font-weight: 500;
        min-width: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        overflow-x: auto
    }

    .mega-menu::-webkit-scrollbar {
        height: 4px;
        width: 4px
    }

    .mega-menu::-webkit-scrollbar-track {
        background: var(--background)
    }

    .mega-menu::-webkit-scrollbar-thumb {
        background: var(--gray3)
    }

    .mega-menu::-webkit-scrollbar-thumb:hover {
        background: var(--gray4)
    }

    .mega-menu .mega-main {
        min-height: 80vh;
        flex: 1;
        display: flex;
        flex-direction: column
    }

    .mega-menu .mega-footer {
        min-height: 10vh;
        justify-content: space-evenly;
        align-items: center;
        padding: 2em 2em 70px
    }
}

menu-toggler, theme-btn {
    visibility: hidden
}

menu-toggler {
    z-index: 999
}

.dark-theme .item .fk-primary {
    color: var(--gray3)
}

.dark-theme .item .fk-secondary {
    color: var(--gray4)
}

.dark-theme .item:hover .fk-primary {
    color: var(--orange)
}

.dark-theme .item:hover .fk-secondary {
    color: var(--orange-light)
}

.light-theme .item .fk-primary {
    color: var(--gray2)
}

.light-theme .item .fk-secondary {
    color: var(--gray3)
}

.light-theme .item:hover {
    transition: color .5s ease
}

.light-theme .item:hover .fk-primary {
    color: var(--orange)
}

.light-theme .item:hover .fk-secondary {
    color: var(--orange-dark)
}

.topnav .item:hover .fk-primary {
    color: var(--text-color)
}

.topnav .item:hover .fk-secondary {
    color: var(--h-color)
}

.item .fk-primary, .item .fk-secondary, .item:hover .fk-primary, .item:hover .fk-secondary {
    transition: color .5s ease
}

.card {
    background: var(--card-bg);
    color: var(--text-color);
    padding: 0;
    box-shadow: var(--card-shadow);
    display: inline-flex;
    flex-direction: column;
    margin: 0 0 1em;
    width: 100%;
    transform: translateY(0);
    border-radius: var(--card-radius)
}

.card, .card:hover {
    transition: transform .3s
}

.card:hover {
    transform: translateY(-3px)
}

.card.center {
    align-items: center;
    justify-content: center
}

.card .card-content {
    padding: 1em
}

@media (max-width:768px) {
    .card {
        max-width: 100%;
        width: 100%;
        display: flex
    }
}

.article-list-link {
    text-decoration: none;
    margin-bottom: 10px;
    text-align: left;
    display: block;
    padding: 1em
}

.card-course {
    max-width: 720px;
    text-align: center;
    margin: 1em auto
}

.card-lesson {
    max-width: 650px;
    overflow: hidden;
    font-weight: 300
}

.card-outline {
    box-shadow: none;
    border: var(--h-border);
    border-width: 3px;
    background: none
}

.well {
    box-shadow: var(--card-shadow);
    padding: 1em
}

.box, .well {
    background: var(--nav-bg)
}

.box {
    color: var(--h-color);
    display: flex;
    min-height: 100px;
    margin: .5em 0;
    border-radius: var(--card-radius)
}

.box .box-icon {
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    width: 10%;
    min-width: 3em;
    max-width: 5em
}

.box .box-icon svg {
    width: 33%;
    opacity: .85
}

.box .box-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: flex-start;
}

.box .box-content a, .box .box-content h2, .box .box-content h3, .box .box-content h4 {
    color: currentColor;
    border: none;
    margin: 0
}

.box .box-content a {
    text-decoration: underline
}

.box .box-content p {
    line-height: 1.5
}

.box-sm {
    font-size: .9em;
    min-height: 0;
    margin: 0
}

.box-sm .box-content {
    padding: .75em .3em
}

.box-red {
    background: var(--red)
}

.box-red, .box-red h3 {
    color: #fff
}

.box-red .box-icon {
    background: var(--red-dark);
    color: #fff
}

.box-green {
    background: var(--green);
    color: #fff
}

.box-green h3 {
    color: #fff
}

.box-green .box-icon {
    background: var(--green-dark);
    color: #fff
}

.box-orange {
    background: var(--orange);
    color: #fff
}

.box-orange h3 {
    color: #fff
}

.box-orange .box-icon {
    background: var(--orange-dark);
    color: #fff
}

.box-blue {
    background: var(--blue)
}

.box-blue, .box-blue h3 {
    color: #fff
}

.box-blue .box-icon {
    background: var(--blue-dark);
    color: #fff
}

.box-purple {
    background: var(--purple);
    color: #fff
}

.box-purple h3 {
    color: #fff
}

.box-purple .box-icon {
    background: var(--purple-dark);
    color: #fff
}

.box-blue-bookmark {
    border-bottom: 3px dashed var(--blue)
}

.notification {
    position: fixed;
    left: 4em;
    right: 1em;
    bottom: 2em;
    z-index: 9999;
    margin: 0;
    opacity: .95
}

.notification.hide {
    transform: translateX(100%);
    transition: all .3s ease-out;
    opacity: 0
}

.notification-close {
    position: absolute;
    right: 1em
}

.post-video {
    margin: 0 auto
}

.page-title, .post-title {
    font-size: 3em;
    text-align: center;
    padding-bottom: .5em
}

.page-title {
    text-align: left
}

.post-info {
    display: flex;
    background: var(--nav-bg);
    box-shadow: var(--card-shadow);
    min-height: 150px;
    margin: 0 auto;
    padding: 1em
}

.post-info .post-detail {
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%
}

.post-info .post-description {
    text-align: left;
    padding: .5em;
    font-size: .92em
}

.post-info .post-buttons {
    margin-bottom: auto
}

.post-info .post-tags {
    text-align: right
}

.content-main {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 0;
}

.content-article {
    width: 70%;
    border-bottom: var(--h-border);
    /*margin: 1em 2.5em*/
}

.content-article.no-toc {
    width: 100%
}

.content-article h2 {
    border-bottom: var(--h-border);
    padding-bottom: .3em
}

.content-article h3 {
    color: var(--text-color)
}


.content-article ol, .content-article ul {
    font-weight: 300;
    margin-top: -1rem; /*TODO: Remove this and instead target para to reduce margin if there is a subsequent list item*/
    /* color: var(--h-color);*/
    font-size: .9em;
}

.content-article p {
    line-height: 1.8;
}

.content-article em {
    font-weight: 700
}

.content-article strong {
    font-weight: 700;
    /*font-size: .9em;*/
    color: var(--h-color);
}

.content-article p a {
    color: var(--h-color);
    font-weight: 600;
    box-shadow: inset 0 -3px 0 #b4e7f8;
    transition: background .15s cubic-bezier(.33, .66, .66, 1)
}

.content-article p a:hover {
    background-color: rgba(0, 255, 242, .3)
}

.toctitle {
    margin: 1rem 0.5rem;
}

.toc {
    border-radius: var(--card-radius);
    margin-bottom: 1em;
    background: var(--nav-bg);
    padding: .5em;
    margin-top: 1em;
    top: 30px;
    box-shadow: var(--toc-shadow);
}

.toc ul {
    list-style: none;
    padding: 0.5rem 1rem;
    margin: 0;
}

.toc ul li {
    padding: .25em
}

.toc ul li a {
    color: var(--blue);
    font-weight: 500;
    transition: color .4s
}

.toc ul li a:hover {
    color: var(--purple);
    transition: color .4s;
    border-bottom: 1px solid var(--purple)
}

.toc ul li ul {
    font-size: .75em;
    font-weight: 500;
    margin-left: 5px
}

.toc ul li ul a {
    color: var(--text-color)
}

.vid {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0
}

.vid iframe, .vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.vid-center {
    margin: 0 auto;
    max-width: 75%
}

.video-overlay, video, video-player {
    width: 100%;
    max-width: 1920px
}

.video-overlay {
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, var(--nav-bg) 25%, var(--background) 0, var(--background) 50%, var(--nav-bg) 0, var(--nav-bg) 75%, var(--background) 0, var(--background));
    background-size: 56.57px 56.57px;
    padding: 20% 0;
    margin: 0 auto;
    max-height: 0
}

.err-404, .video-overlay {
    display: flex;
    justify-content: center;
    align-items: center
}

.err-404 {
    flex-direction: column
}

.err-404 svg {
    width: 20%
}

@media (max-width:1024px) {
    .content-main {
        flex-direction: column-reverse;
        /*flex-wrap: wrap*/
    }

    .content-article, .content-main, .toc {
        position: static;
        width: 100%
    }

    .toc {
        margin-left: 0
    }

    .content-article {
        margin: 0
    }
}




.chapter-nav {
    display: flex;
    padding: 1.5em 0
}

.chapter-nav a {
    max-width: 75%;
    background: var(--overlay-bg)
}

.chapter-nav .chapter-prev {
    margin-right: auto
}

.chapter-nav .chapter-next {
    align-self: flex-end;
    max-width: 400px
}

.chapter-item {
    border: 2px var(--background);
    display: flex;
    align-items: center;
    transition: all .3s ease
}

.chapter-item:hover {
    transform: scale(1.02);
    background: var(--tag-bg)
}

.chapter-item .video-labels {
    font-size: .9rem;
    margin-left: auto;
    margin-right: 1rem
}

.home-features .card {
    min-height: 240px
}

.article-title {
    font-size: 2em;
    padding-bottom: 5px;
    border-bottom: var(--h-border);
    margin: 0;
}

.article-byline {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    font-size: 0.83rem;
    padding: 5px 0 5px;
    border-bottom: var(--h-border);
    align-items: center;
}

.article-tags {
    font-size: 0.83rem;
    padding: 5px 0 5px;
    align-items: center;
}

.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 1.25em
}

.user-profile img {
    width: 1.5em;
    border-radius: var(--card-radius);
    margin-right: .25em
}


.health-check .box-icon {
    color: #fff
}

.health-check p {
    font-family: var(--font-code);
    font-size: .9em
}

.author-headline {
    margin-top: 5rem
}

.author-headline .author-avatar {
    text-align: center
}

.author-headline .author-avatar img {
    max-width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: var(--toc-shadow)
}

.author-snip {
    display: flex;
    justify-content: left;
    font-weight: 500;
    margin: 20px 0
}

.author-snip .author-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: var(--nav-shadow);
    margin-right: .5em
}

.lesson-type {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em
}

.chapters-list {
    max-width: 998px;
    margin: 10px auto;
}

.chapters-wrap {
    background: var(--nav-bg);

}

.the-end {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2em 0
}

.content-pad {
    padding: 0 1em;
    margin-bottom: 0.5em;
}

@media (max-width:600px) {
    .content-pad {
        padding: 0 .5em
    }
}

.dashboard-box {
    min-height: 200px;
    margin-bottom: 1em;
    border-radius: 12px
}

.dashboard-box, .login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.login-wrapper {
    max-width: 512px;
    background: var(--background);
    padding: 1em;
    box-shadow: var(--toc-shadow);
    margin: 0 auto 4em
}

.login-wrapper.in-modal {
    margin-top: 4em
}

.stackblitz {
    width: 100%
}

.brand-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 10px 5vw
}

.brand-list li {
    margin: 0 10px
}

.brand-list li img {
    max-height: 50px
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center
}

@media screen and (max-width:768px) {
    .pagination {
        flex-wrap: wrap;
        padding: 0
    }
}

.pagination .page-item {
    margin: .5em;
    padding: 0
}

.pagination .page-item.active, .pagination .page-item.disabled {
    opacity: .5;
    transform: translateY(-2px);
    cursor: default
}

.pagination .page-item.disabled {
    background: none;
}

.pagination .page-item a {
    color: var(--text-color);
    padding: 1em 2em
}

.insta {
    display: flex;
    justify-content: center
}

route-loader {
    position: fixed;
    bottom: 1em;
    right: 1em
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 10px auto
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2s ease-in-out infinite
}

.double-bounce2 {
    animation-delay: -1s
}

@keyframes sk-bounce {
    0%, to {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }
}

.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: var(--tag-bg);
    color: var(--text-color);
    font-weight: 600;
    margin: .25em .25em;
}

h1.tag {
    margin-left: 0;
    margin-right: 0
}

.tag-sm {
    font-size: .7em;
    display: inline-block;
    letter-spacing: .15ch;
    font-weight: 400
}

.tag-lg {
    font-size: 1.2em;
    border-radius: 4px
}

.tag-bg {
    background: var(--background)
}

.tag-green, .tag-pro, .tag-snippets {
    background: var(--green);
    color: #fff
}

.tag-purple {
    background: var(--purple);
    color: #fff
}

.tag-contrast {
    background: var(--text-color);
    color: var(--background)
}

.btn, .page-item {
    background: var(--nav-bg);
    margin: .25em .25em .25em 0;
    color: var(--text-color);
    font-size: .625em;
    border: 2px solid transparent;
    padding: 1em 2em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-body);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    vertical-align: bottom;
    cursor: pointer
}

.btn svg, .page-item svg {
    height: 1.3em;
    margin: 0 .3em
}

.btn:hover, .page-item:hover {
    transform: translateY(-2px);
    transition: transform .2s ease
}

.btn:disabled, .btn[disabled] {
    transform: translateY(0) !important;
    opacity: .8 !important;
    cursor: not-allowed
}

.btn-block {
    display: block;
    margin: 2em 0;
    width: 100%
}

.btn-block img, .btn-block svg {
    top: 5px;
    position: relative
}

.btn-sm {
    padding: .5em 1em
}

.btn-lg {
    font-size: 1em;
    padding: 1.25em 2.5em
}

.btn-contrast {
    background: var(--text-color);
    color: var(--nav-bg)
}

.btn-contrast:hover {
    transform: translateY(-2px);
    transition: transform .2s ease
}

.btn-red {
    background: var(--red);
    color: #fff
}

.btn-red:hover {
    box-shadow: var(--card-shadow);
    transform: translateY(-2px);
    transition: transform .2s ease
}

.btn-purple {
    background: var(--purple);
    color: #fff
}

.btn-purple:hover {
    box-shadow: var(--card-shadow);
    transform: translateY(-2px);
    transition: transform .2s ease
}

.btn-green {
    background: var(--green);
    color: #fff
}

.btn-green:hover {
    box-shadow: var(--card-shadow);
    transform: translateY(-2px);
    transition: transform .2s ease
}

.btn-blue {
    background: var(--blue);
    color: #fff
}

.btn-blue:hover {
    box-shadow: var(--card-shadow);
    transform: translateY(-2px);
    transition: transform .2s ease
}

.btn-orange {
    background: var(--orange);
    color: #fff
}

.btn-orange:hover {
    box-shadow: var(--card-shadow);
    transform: translateY(-2px);
    transition: transform .2s ease
}

.btn-orange-outline {
    background: transparent;
    color: "orange";
    border: 2px solid var(--orange);
    transition: background .4s ease
}

.btn-orange-outline:hover {
    box-shadow: var(--card-shadow);
    background: var(--orange);
    color: #fff;
    transition: background .4s ease
}

.btn-signin {
    background-color: #fff;
    color: #000;
    text-transform: none;
    border: 2px solid #000;
    font-size: 1rem
}

.btn-signin i {
    margin-right: 16px
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(180deg)
    }
}

.spin {
    animation: spin .5s ease-in-out infinite alternate
}

.pulse:focus, .pulse:hover {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em hsla(0, 0%, 100%, 0)
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--green)
    }
}

.qna-header {
    margin-top: 75px
}

.qna-header h2 {
    text-align: center;
    border-bottom: var(--h-border);
    padding-bottom: 10px;
    font-size: 2em
}

.questions {
    margin-bottom: 100px
}

fieldset {
    padding: 0;
    margin: 0;
    border: none
}

label {
    font-weight: 700;
    font-style: italic;
    margin: .5em 0;
    display: inline-block
}

.input, .textarea {
    width: 100%;
    padding: .5em;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--gray3);
    background: var(--nav-bg);
    font-size: 1em;
    font-weight: 500;
    color: var(--h-color);
    outline: none;
    display: block;
    font-family: var(--font-body)
}

.input::placeholder, .textarea::placeholder {
    color: var(--text-color)
}

.input:focus, .textarea:focus {
    border-bottom: 3px solid var(--text-color)
}

.input.ng-dirty.ng-invalid, .textarea.ng-dirty.ng-invalid {
    border-bottom: 3px solid var(--red)
}

.input.ng-valid.ng-dirty, .textarea.ng-valid.ng-dirty {
    border-bottom: 3px solid var(--green)
}

.textarea {
    min-height: 150px;
    font-size: .95em;
    font-weight: 400
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--overlay-bg);
    z-index: 999;
    transform: scale(0);
    transition: transform .2s ease-out;
    overflow-y: scroll
}

.modal-overlay::-webkit-scrollbar {
    height: 4px;
    width: 4px
}

.modal-overlay::-webkit-scrollbar-track {
    background: var(--background)
}

.modal-overlay::-webkit-scrollbar-thumb {
    background: var(--gray3)
}

.modal-overlay::-webkit-scrollbar-thumb:hover {
    background: var(--gray4)
}

.modal-overlay.modal-show {
    transform: scale(1);
    transition: transform .2s ease-in
}

.algolia-hits {
    width: auto;
    height: 100%;
    padding: var(--nav-width);
    padding-top: 5em;
    overflow-y: scroll
}

.algolia-hits::-webkit-scrollbar {
    height: 6px;
    width: 6px
}

.algolia-hits::-webkit-scrollbar-track {
    background: var(--background)
}

.algolia-hits::-webkit-scrollbar-thumb {
    background: var(--gray3)
}

.algolia-hits::-webkit-scrollbar-thumb:hover {
    background: var(--gray4)
}

.algolia-hits em {
    color: var(--green)
}

.algolia-hits h4, .algolia-hits p {
    margin: .25em;
    font-weight: 400
}

.algolia-hits p {
    color: var(--text-color);
    font-size: .85em
}

.algolia-hit {
    display: block;
    margin-top: .2em;
    background: var(--card-bg);
    box-shadow: var(--card-shadow);
    padding: 10px;
    transition: all .3s ease
}

.algolia-hit:hover {
    background: var(--tag-bg);
    transition: all .3s ease
}

.algolia-hit .hit-type {
    color: var(--text-color);
    font-size: .9em;
    font-weight: 400
}

.algolia-close {
    /*float: right;*/
    margin-top: 10px
}

.algolia-input {
    background: var(--overlay-bg);
    color: var(--h-color);
    outline: none;
    font-size: 5vw;
    display: block;
    border: none;
    border-bottom: 5px solid;
    font-family: var(--body-font);
    width: 100%;
    background: transparent
}

.algolia-input::placeholder {
    opacity: .7
}

.toggle-replies {
    font-weight: 700;
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer
}

/** Admonitions */

div.admonition {
    padding: 0;
    margin-bottom: 20px;
    background-color: #fcf8e3;
    border: 1px solid;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius)
}

div.admonition p {
    margin: .5em 1em;
    padding: 0
}

div.admonition p a {
    color: inherit !important
}

div.admonition div.highlight {
    margin-left: 1em;
    margin-right: 1em
}

div.admonition table.highlighttable {
    padding-left: 1em;
    padding-right: 1em
}

div.admonition table.highlighttable div.highlight {
    margin-left: 0;
    margin-right: 0
}

div.admonition p.admonition-title {
    color: #fff;
    margin: 0;
    padding: .1em 0 .1em .5em;
    font-weight: 700
}

div.admonition ol, div.admonition ul {
    margin: .1em .5em .5em 3em;
    padding: 0
}

div.danger, div.error {
    color: #b94a48;
    background-color: #f2dede
}

div.danger p.admonition-title, div.error p.admonition-title {
    background-color: #b94a48
}

div.attention, div.caution, div.warning {
    color: #c09853
}

div.attention p.admonition-title, div.caution p.admonition-title, div.warning p.admonition-title {
    background-color: #c09853
}

div.important, div.note {
    color: #468847;
    background-color: #dff0d8
}

div.important p.admonition-title, div.note p.admonition-title {
    background-color: #468847
}

div.hint, div.tip {
    color: #3a87ad;
    background-color: #d9edf7
}

div.hint p.admonition-title, div.tip p.admonition-title {
    background-color: #3a87ad
}

div.attention p.admonition-title:before, div.caution p.admonition-title:before, div.danger p.admonition-title:before, div.error p.admonition-title:before, div.hint p.admonition-title:before, div.important p.admonition-title:before, div.note p.admonition-title:before, div.tip p.admonition-title:before, div.warning p.admonition-title:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

div.danger p.admonition-title:before, div.error p.admonition-title:before {
    height: 20px;
    width: 23px;
    background-size: 20px 20px;
    content: "";
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"></path></svg>');
    vertical-align: -20%
}

div.attention p.admonition-title:before, div.caution p.admonition-title:before, div.warning p.admonition-title:before {
    height: 20px;
    width: 23px;
    background-size: 20px 20px;
    content: "";
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="white" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"></path></svg>');
    vertical-align: -20%
}

div.important p.admonition-title:before, div.note p.admonition-title:before {
    height: 20px;
    width: 23px;
    background-size: 20px 20px;
    content: "";
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg>');
    vertical-align: -20%
}

div.hint p.admonition-title:before, div.tip p.admonition-title:before {
    height: 20px;
    width: 23px;
    background-size: 20px 20px;
    content: "";
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="white" d="M176 80c-52.94 0-96 43.06-96 96 0 8.84 7.16 16 16 16s16-7.16 16-16c0-35.3 28.72-64 64-64 8.84 0 16-7.16 16-16s-7.16-16-16-16zM96.06 459.17c0 3.15.93 6.22 2.68 8.84l24.51 36.84c2.97 4.46 7.97 7.14 13.32 7.14h78.85c5.36 0 10.36-2.68 13.32-7.14l24.51-36.84c1.74-2.62 2.67-5.7 2.68-8.84l.05-43.18H96.02l.04 43.18zM176 0C73.72 0 0 82.97 0 176c0 44.37 16.45 84.85 43.56 115.78 16.64 18.99 42.74 58.8 52.42 92.16v.06h48v-.12c-.01-4.77-.72-9.51-2.15-14.07-5.59-17.81-22.82-64.77-62.17-109.67-20.54-23.43-31.52-53.15-31.61-84.14-.2-73.64 59.67-128 127.95-128 70.58 0 128 57.42 128 128 0 30.97-11.24 60.85-31.65 84.14-39.11 44.61-56.42 91.47-62.1 109.46a47.507 47.507 0 0 0-2.22 14.3v.1h48v-.05c9.68-33.37 35.78-73.18 52.42-92.16C335.55 260.85 352 220.37 352 176 352 78.8 273.2 0 176 0z"></path></svg>');
    vertical-align: -20%
}

/** Color definitions for tags */

.tag-algolia {
    color: #fff;
    background-color: #5468ff;
}

.tag-aws {
    color: #ec912d;
    background: #232f3e;
}

.tag-cdk {
    color: #fff;
    background-color: #0066b8;
}

.tag-css {
    color: #313244;
    background: #f954be
}

.tag-docker {
    color: #fff;
    background: #2496ed
}

.tag-fastapi {
    color: #fff;
    background: #009485;
}

.tag-firebase {
    background: #ffcb2b;
    color: #12181a
}

.tag-flask {
    color: #000;
    background: #fff;
}

.tag-github {
    color: #fff;
    background: #24292e
}

.tag-heroku {
    color: #fff;
    background: #430098;
}

.tag-jupyter {
    color: #fff;
    background: #e46e2e;
}

.tag-javascript, .tag-pwa {
    background: #f0db4f;
    color: #000
}

.tag-linux {
    color: #fff;
    background: #f57d00;
}

.tag-markdown {
    color: #000;
    background: #f8f8f8
}

.tag-netlify {
    color: #000;
    background: #40a6bc;
}

.tag-node {
    background: #90c53f;
    color: #46483d
}

.tag-pelican {
    color: #fff;
    background: #0ea0c4;
}

.tag-python {
    color: #ffda5d;
    background: #3879ab
}

.tag-raspberrypi, .tag-rpi {
    color: #fff;
    background: #bc1142
}

.tag-selenium {
    color: #fff;
    background: #43b02a
}

.tag-typer {
    color: #fff;
    background: #000;
}

.tag-typescript {
    background: #2775c3;
    color: #fff
}

.tag-ubuntu {
    color: #fff;
    background: #f50;
}

.tag-vscode {
    color: #fff;
    background: #0066b8
}

.tag-windows {
    color: #fff;
    background: #0078d7
}

.tag-wsl, .tag-wsl2 {
    color: #fff;
    background: #0078d7
}

.video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.codecopy {
    position: relative;
    overflow: auto;
  
    & button.codecopy-btn {
      box-shadow: none;
      min-height: initial;
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      background-color: var(--gray4);
      color: var(--gray1);
      border: none;
      border-bottom-left-radius: 5px;
      padding: 0.5rem;
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
  


  /* Remove radus when inside liquid_tags.include_code */
figure.code
> div.highlight:not(:first-child)
> div.codecopy
> button.codecopy-btn {
border-top-right-radius: 0;
}

