.tag-angular {
    background: #dc0530;
    color: #fff
}

.tag-vue {
    background: #41b883;
    color: #35495e
}

.tag-rxjs {
    background: var(--pink);
    color: var(--gray5)
}

.tag-cloud-functions {
    background: var(--blue);
    color: #fff
}

.tag-flutter {
    background: #54c5f8;
    color: #003b6c
}

.tag-google-maps {
    background: #33a668;
    color: #f8d845
}

.tag-android {
    background: #a4c34a;
    color: #fff
}

.tag-fauna, .tag-stripe {
    color: #fff;
    background: #6675e0
}

.tag-machine-learning {
    color: #fff;
    background: var(--purple-light)
}

.tag-svelte {
    color: #fff;
    background: #ff3e00
}

.tag-react {
    color: #00d8ff;
    background: #222
}

.tag-ios {
    color: #fff;
    background: #000
}

.tag-minimum-viable-product, .tag-mvp {
    color: #fff;
    background-image: linear-gradient(90deg, #ff8901, #db1d5f);
    font-weight: 700
}

.tag-ionic {
    background: #fff;
    color: #4a8afc
}

.tag-nest {
    color: #e0234e;
    background: #000
}

.tag-graphql {
    color: #fff;
    background: #e10097
}

.tag-electron {
    color: #313244;
    background: #adecf3
}

.tag-deno {
    color: #e1e9d5;
    background: #222220
}

.tag-nextjs {
    color: #fff;
    background: #000
}