<!DOCTYPE html>
<html lang="{{DEFAULT_LANG}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes" />
    {% block meta %}
    {% endblock %}

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/{{ THEME_STATIC_DIR}}/img/icons/favicon.svg">
    <link rel="icon" type="image/png" href="/{{ THEME_STATIC_DIR}}/img/icons/favicon.png">
    <!-- App icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ THEME_STATIC_DIR}}/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/{{ THEME_STATIC_DIR}}/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/{{ THEME_STATIC_DIR}}/img/icons/favicon-16x16.png">
    <link rel="mask-icon" href="/{{ THEME_STATIC_DIR}}/img/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="mask-icon" href="/{{ THEME_STATIC_DIR}}/img/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" href="/{{ THEME_STATIC_DIR }}/site.webmanifest">
    <meta name="msapplication-TileColor" content="#fdf6e3">
    <meta name="msapplication-config" content="/{{ THEME_STATIC_DIR}}/browserconfig.xml">
    <meta name="theme-color" content="#fff">

    <!-- Theme -->

    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/style.css">

    <title>{% block title%}{% endblock %}</title>
    <link rel="dns-prefetch" href="https://uberpython.com">
    <!-- App -->
    <script defer src="/{{ THEME_STATIC_DIR }}/js/app.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GTAG}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{GTAG}}');
    </script>
</head>

<body>
    <!--Top nav-->
    <nav class="topnav">
        {% include "layouts/topnav.html" %}
    </nav>
    <!--Top nav-->
    <script>
        // Theme toggler
        const themeNext = {
            dark: "light",
            light: "dark"
        };
        if (localStorage.getItem('theme')) {
            var theme = localStorage.getItem('theme');
            document.body.classList.remove('dark-theme', 'light-theme');
            document.body.classList.add(theme + '-theme');
            document.getElementById(themeNext[theme]).style.display = "flex";
            document.getElementById(theme).style.display = "none";
        }
        var switchTheme = document.getElementById('themeButton');
        var toggleLight = document.getElementById('light');
        var toggleDark = document.getElementById('dark');
        switchTheme.addEventListener('click', function (e) {
            e.preventDefault();
        });
        toggleLight.addEventListener('click', function (e) {
            e.preventDefault();
            document.body.classList.add('light-theme');
            document.body.classList.remove('dark-theme');
            localStorage.setItem('theme', 'light');
            toggleLight.style.display = "none";
            toggleDark.style.display = "flex";
        });
        toggleDark.addEventListener('click', function (e) {
            e.preventDefault();
            document.body.classList.add('dark-theme');
            document.body.classList.remove('light-theme');
            localStorage.setItem('theme', 'dark');
            toggleLight.style.display = "flex";
            toggleDark.style.display = "none";
        });
    </script>
    <!-- Navbar -->
    <nav class="navbar">
        {% include "layouts/navbar.html" %}
    </nav>
    <!-- End Navbar -->

    <!-- Main Section -->
    <main>
        {% block main %}
        {% endblock %}
        <aside class="sidebar">
            {% include "layouts/sidebar.html" %}
        </aside>
    </main>
    <!-- End of Main Section -->
    <footer>
        {% include "layouts/footer.html" %}
    </footer>
</body>

</html>