<!DOCTYPE html>
<!DOCTYPE html>
<html lang="{{DEFAULT_LANG}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <!-- Favicons -->
    <link rel="icon" href="{{ SITEURL}}/{{ THEME_STATIC_DIR}}/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL}}/{{ THEME_STATIC_DIR}}/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL}}/{{ THEME_STATIC_DIR}}/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL}}/{{ THEME_STATIC_DIR}}/img/favicon-16x16.png">


    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <!-- Hide files under hidden_pages-->
    {% if page in hidden_pages %}
    <meta name="robots" content="noindex, nofollow" />
    {% else %}
    <meta name="robots" content="{{ ROBOTS }}" />
    {% endif %}

    <!-- Load 
    {% if USE_GOOGLE_FONTS != False %}
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap">
    {% endif %}
    Google fonts-->
    <link rel=" stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
    <link rel="manifest" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/manifest.json">
    <link rel="mask-icon" href="{{ SITEURL}}/{{ THEME_STATIC_DIR}}/img/safari-pinned-tab.svg" color="#00aba9">

    <title>{% block title%}{% endblock %}</title>
    <script defer src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/app.js"></script>
</head>

<body>
    <!--Top nav-->
    {% include "layouts/topnav.html" %}
    <!--Top nav-->

    <!-- Sidebar -->
    {% include "layouts/sidebar.html" %}
    <!-- End Sidebar -->

    <!-- Main Section -->
    <main role="main">
        {% block main %}
        {% endblock %}
    </main>
    <!-- End of Main Section -->



    {% include "layouts/footer.html" %}
</body>

</html>