<footer>
    {% if article %}
    <h3>Want to improve this? Submit your changes on <a
            href="https://github.com/UberPython/UberPython/tree/main/content/{{article.relative_source_path}}">GitHub.</a>
    </h3>
    {% endif %}
    <p>Copyright &copy; 2020 - {{CURRENTYEAR}} UberPython. All rights reserved.</p>
    <ul>
        <li class="footer-nav"><a href=" /terms.html ">Terms</a></li>
        <li class="footer-nav"><a href="/privacy.html">Privacy Policy</a></li>
        <li class="footer-nav"><a href="/sitemap.xml">Sitemap</a></li>
    </ul>
</footer>