<div id="mega" class="mega-menu" style="visibility: hidden;">
    <div class="mega-main">
        <section>
            <h3>Content</h3>
            <ul>
                <li><a href="/snippets">Quick Snippets</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/tags">#tags</a></li>
            </ul>
        </section>
        <section>
            <h3>Tags</h3>
            <ul>
                <li><a href="/tags/python">#python</a></li>
                <li><a href="/tags/aws">#aws</a></li>
                <li><a href="/tags/firebase">#firebase</a></li>
                <li><a href="/tags/python">#pelican</a></li>
            </ul>
        </section>
        <section>
            <h3>CloudBytes@</h3>
            <ul>
                <li><a href="http://github.com/CloudBytesDotDev">Github</a></li>
            </ul>
        </section>
    </div>
    <div class="row mega-footer">
        <span>CloudBytes</span> <a href="/terms">Terms</a> <a href="/privacy">Privacy</a>
    </div>
</div>