<div id="mega" class="mega-menu" style="visibility: hidden;">
    <div class="mega-main">
        <section>
            <h3>Content</h3>
            <ul>
                <li><a href="/articles">Quick Snippets</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/tags">#tags</a></li>
            </ul>
        </section>
        <section>
            <h3>Tags</h3>
            <ul>
                <li><a href="/tag/python">#python</a></li>
                <li><a href="/tag/firebase">#firebase</a></li>
            </ul>
        </section>
        <section>
            <h3>UberPython@</h3>
            <ul>
                <li><a href="http://github.com/UberPython">Github</a></li>
                <li><a href="http://twitter.com/UberPython">Twitter</a></li>
            </ul>
        </section>
    </div>
    <div class="row mega-footer">
        <span>UberPython</span> <a href="/terms">terms</a> <a href="/privacy">privacy</a>
    </div>
</div>