<div class="recourse" style="text-align:center">
    <div class="box chapter-item">
        <div class="box-content">
            <a href="https://click.linksynergy.com/link?id=zOWbNCBDzko&offerid=1060092.567828&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Fcomplete-python-bootcamp%2F"
                style="text-decoration:none">
                <div>
                    <h2 style="border-bottom: 2px white;">Curated Course</h2>
                    <hr style="border-color:var(--text-color)">
                </div>
                <div class=" banner">
                    <h4>
                        2022 Complete Python Bootcamp From Zero to Hero in Python
                    </h4>
                    <p style="font-size:.75em">
                        Learn Python like a Professional Start from the basics and go all the way to creating your own
                        applications and games
                    </p>

                    <IMG border=0 src="https://img-c.udemycdn.com/course/480x270/567828_67d0.jpg">
                </div>

            </a>
        </div>
    </div>
</div>