{% if article.course_tag %}
{% set course = COURSES.get(article.course_tag) %}

<div class="recourse" style="text-align:center">

    <div class="box chapter-item">
        <div class="box-content">
            <a href="https://click.linksynergy.com/link?id=zOWbNCBDzko&offerid=1060092.567828&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Fcomplete-python-bootcamp%2F"
                style="text-decoration:none">
                <div>
                    <h3 style="border-bottom: 2px white;">📽️ Curated Tutorial</h3>
                    <hr style="border-color:var(--text-color)">
                    <hr style="border-color:var(--text-color)">
                </div>
                <div class=" banner">
                    <IMG border=0 src="{{ course.img }}">
                    <h4>
                        {{ course.title }}
                    </h4>
                    <p style="font-size:.75em">
                        {{ course.description }}!
                    </p>
                    <h4>
                        Click Here for more info!
                    </h4>
                </div>
            </a>
        </div>
    </div>
</div>
{% else %}

{% include "layouts/ebook.html" %}

{% endif %}