{% if article.related_posts %}
<div>
    <h3 style="margin: 10px 0;">Related Posts</h3>
</div>
<div class="chapters-list">
    <div class="chapters-wrap">
        {% for related_post in article.related_posts %}
        <a href="/{{ related_post.url }}">
            <div class="box box-sm chapter-item">
                <i class="box-icon">
                    <div>
                        <i class="emoji">📄</i>
                    </div>
                </i>
                <div class="box-content">
                    <span class="subtext">{{ related_post.title }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}